Repository up42/up42-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit, @up42/documentation

.github/CODEOWNERS:

* @up42-eva @javidq @andher1802 @jmigueldelgado @seedlit
/examples/ @up42/documentation
/docs/ @up42/documentation
*.md @up42/documentation

setting temp file to output_dir in download unpack utils feature
  CHANGELOG.md
  pyproject.toml
  up42/utils.py
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

fixing changelog date
  CHANGELOG.md
Owners: @up42/documentation

fixing changelog date
  CHANGELOG.md
Owners: @up42/documentation

fixing changelog entry
  CHANGELOG.md
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

fixing changelog entry
  CHANGELOG.md
Owners: @up42/documentation

fixing changelog entry
  CHANGELOG.md
Owners: @up42/documentation

fixing changelog entry
  CHANGELOG.md
Owners: @up42/documentation

switching to namedtempdir
  up42/utils.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

fixing tests and adding delete compressed file param
  CHANGELOG.md
  tests/test_utils.py
  up42/utils.py
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

adding the new parameter to the utils.py download and unpack function
  up42/utils.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

adding compressed scan to address sonarcloud hotspot security warnings
  up42/utils.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

adding compressed scan to address sonarcloud hotspot security warnings
  up42/utils.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

removing compressed scan to address sonarcloud hotspot security warnings
  up42/utils.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

addressing tests feedback and improving function
  CHANGELOG.md
  tests/test_utils.py
  up42/utils.py
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

addressing tests feedback and improving function
  tests/test_utils.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

removing SCAN error
  up42/utils.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

removing SCAN error
  up42/utils.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

increasing retries and backoff_factor for session http_adapter
  CHANGELOG.md
  pyproject.toml
  up42/http/session.py
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

increasing retries and backoff_factor for session http_adapter
  up42/http/config.py
  up42/http/session.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

updating changelog
  CHANGELOG.md
Owners: @up42/documentation

Code pairing
  tests/test_utils.py
  up42/asset.py
  up42/utils.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

Pair coding
  CHANGELOG.md
Owners: @up42/documentation

updating dependencies and bumping version to 1.0.1a1
  CHANGELOG.md
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

updating dependencies and bumping version to 1.0.1a1
  CHANGELOG.md
Owners: @up42/documentation

updating dependencies and bumping version to 1.0.1a1
  CHANGELOG.md
Owners: @up42/documentation

CHANGELOG Update Updating dependencies and bumping version to 1.0.1a1 (#601)
  CHANGELOG.md
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

bump pre-release version
  pyproject.toml
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

PT-5220 Setting temp file to output_dir in download unpack utils feature (#597)
  CHANGELOG.md
  pyproject.toml
  tests/test_utils.py
  up42/asset.py
  up42/utils.py
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

bump pre release version
  pyproject.toml
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

PT-5239 Increasing retries and backoff_factor for session http_adapter (#600)
  CHANGELOG.md
  pyproject.toml
  up42/http/config.py
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

Update README.md
  README.md
Owners: @up42/documentation

Update README.md (#602)
  README.md
Owners: @up42/documentation

updating geojson to 3.1.0
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

bumping to 1.0.1 version
  CHANGELOG.md
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

removing dot from changelog
  CHANGELOG.md
Owners: @up42/documentation

adding changelog messages
  CHANGELOG.md
Owners: @up42/documentation

PT-5225 Updating geojson to 3.1.0 for conda removing upper cap python version (#603)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

bumping to 1.0.1 version (#604)
  CHANGELOG.md
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

adding thread lock for token refresh
  up42/http/oauth.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

adding changelog and version bumping
  CHANGELOG.md
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit
