Repository up42/up42-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit, @up42/documentation

.github/CODEOWNERS:

* @up42-eva @javidq @andher1802 @jmigueldelgado @seedlit
/examples/ @up42/documentation
/docs/ @up42/documentation
*.md @up42/documentation

adding thread lock for token refresh
  CHANGELOG.md
  up42/http/oauth.py
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

adding thread lock for token refresh (#605)
  CHANGELOG.md
  pyproject.toml
  up42/http/oauth.py
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

bump version 1.0.2
  CHANGELOG.md
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

PT-5266 Run sdk-tests in parallel
  .circleci/config.yml
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

PT-5266 Run sdk-tests in parallel (#607)
  .circleci/config.yml
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

bump version 1.0.2 (#606)
  CHANGELOG.md
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

bump geopandas
  poetry.lock
  pyproject.toml
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

bump version 1.0.3
  CHANGELOG.md
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

fix typo
  CHANGELOG.md
Owners: @up42/documentation

updating naming workspace class
  up42/catalog.py
  up42/main.py
  up42/storage.py
  up42/webhooks.py
Owners: @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

updating release version
  CHANGELOG.md
  pyproject.toml
Owners: @up42/documentation, @up42-eva, @javidq, @andher1802, @jmigueldelgado, @seedlit

updating release version
  CHANGELOG.md
Owners: @up42/documentation
